<div class="welcome-page">
	<%= image_tag 'chikara_b_64.png' %>
	<br>
	<div class="header-font">
		Welcome to Odaiko Lead Generator
	</div>
	<br><br>
	<div class="social-sign-up-link" style="background-color:#66CCFF">
    	<a href="/auth/twitter" class="header-font-small mid-height">
    		<table border="0">
    			<tr>
    				<td>
        				<%= image_tag 'glyphicons_social_31_b_twitter_white.png', :size => "32x32", :alt => "a" %>
        			</td>
        			<td>
            			Sign in with Twitter
            		</td>
            	</tr>
            </table>
        </a>
    </div>
</div>
			